*
{
	margin:0;
	padding: 0;
}
header
{
	margin-top: 10px;
	margin-left: 8px;
	margin-right: 8px;
	background-image:url();
	height:10vh;
	background-size:cover;
	background-position:center;
}
.main-nav
{
	float: right;
	list-style: none;
	margin-top: 35px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: black;
	text-decoration: none;
	padding: 8px;
	font-family: "BigNoodleTitling", sans-serif;
	font-size: 20px;
	letter-spacing: 2px;
	margin: 6px;
	
}

.main-nav li.active a
{
	border: 2px solid white;
}

.logo img
{
	width: 55px;
	height: auto;
	margin-bottom: 30px;
	padding: 5px;
	float: left
}

.home img
{
	position: relative;
	width: 95%;
	height: auto;
	float: middle;
	margin-bottom: 100px;
}
.text1
{
	text-align: left;
	position: absolute;
	top: 145px;
	left:50px;
	color: white;
	font-size: 30px;
}
h1
{
	font-family: "BigNoodleTitling";
	text-transform: uppercase;
}
.container
{
	position:relative;
	text-align: center;
	color: white;
}

.slide
{
	margin-top: 10px;
	margin-left: 16px;
	margin-right: 8px;
	margin-bottom: 50px;
}
h2
{
	font-family:"Tahoma";
	letter-spacing: 0.5px;
	text-transform: none;
}
.text2
{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 8px;
	text-align: left;
	color: black;
	font-size: 18px;
}
.text3
{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 8px;
	margin-bottom: 50px;
	text-align:left;
}
.edu img
{
	position: relative;
	float: middle;
	padding:50px;
	margin-right: 3px;
	margin-bottom: 20px;
}
.edutxt
{
	text-align: center;
	font-size: 20px;
}
h3
{
	font-family:"";
	font-size: 10px;

}
button
{
	width: 100px;
	height: 40px;	
	border-radius: 15px
}
.btn1
{
	font-size:15px;
}
.eduheader
{
	margin:0;
	padding:0;
	text-align: left;
}
.school1
{
	text-align: left;
}
.text4
{
margin-top:50px;
font-size: 9px;
text-align: left;
color:black;

}
.skilltxt
{
	position:relative;
	padding:50px;
	text-align: left;
	color: gray;
	font-size: 9px;
	margin-bottom: 50px;

}
.footer
{
	position:relative;
	left:0;
	bottom:0;
	width:100%;
	background-color:black;
	padding:5px;
}
.text5
{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 8px;
	margin-bottom: 20px;
	text-align:left;
}
.jobpage
{
	margin:20px;
}
.edupage
{
	margin:20px;
}
.projectpage
{
	margin:20px;
}
